/* UNIVERSAL */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.invert {
    color: whitesmoke;
}

h3 {
    text-align: center;
}

hr {
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* HEADER */
header{
    background-color: rgb(91, 91, 94);
    height: 55px;
}

.menu {
    padding: 10px 0;
}

.header-links {
    color: whitesmoke;
}

.header-links:hover {
    color: whitesmoke;
    font-style: italic;
    background-color: rgb(128, 128, 133);
}

.header-links:visited {
    color: whitesmoke;
}

/* HERO */
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.content {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    position: relative;
    background: #333333;
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero h3 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    margin: 0 0 10px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.hero p {
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.4;
}

/* WAVES */

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-color: gray;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
}

.waves::before {
    border-radius: 44%;
    background: rgba(51, 51, 51, 1);
    animation: waves 8s linear infinite;
}

.waves::after {
    border-radius: 44%;
    background: rgba(51, 51, 51, 0.5);
    animation: waves 15s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* ABOUT */
.jumbotron{
    height: auto;
    background-color: black;
}

.about-three {
    margin-right: 105px;
    margin-left: 105px;
    margin-top: 75px
}

.icon {
    text-align: center;
    
}

.icon-three {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    font-size: 50px;
    margin-bottom: 20px;
}

.marketing-site-three-up-desc {
    color: whitesmoke;
}

.fas {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.about-bio {
    color: whitesmoke;
}

.about-subtitle {
    color: whitesmoke;
    margin-top: 15px;
}

.about-img {
    height: 300px;
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.skills {
    color: whitesmoke;
}

.about-skills {
    color: whitesmoke;
    margin-bottom: 0;
}

.tech-skills {
    margin: 50px 125px 0 125px;
    text-align: center;
    padding-bottom: 50px;
}

.marketing-site-three-up-title {
    text-align: center;
    color: whitesmoke;
}

.marketing-site-three-up-desc {
    font-size: 13px;
    text-align: center;
}

/* PROJECTS */
.shaded{
    background-color: rgba(51, 51, 51, 1);
}

.article-row-section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.article-row-section-inner {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 100%;
}
  
@media print, screen and (min-width: 40em) {
    .article-row-section-inner {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
}

@media print, screen and (min-width: 40em) {
    .article-row-section-inner {
        -webkit-flex: 0 0 83.33333%;
            -ms-flex: 0 0 83.33333%;
                flex: 0 0 83.33333%;
        max-width: 83.33333%;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        max-width: 83.33333%;
    }
}

@media print, screen and (min-width: 40em) and (min-width: 40em) {
    .article-row-section-inner {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
}
  
.article-row-section-header {
    padding: 1.5rem 0;
    margin: 0;
    line-height: 1;
}

.article-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem .5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-row:hover {
    border-style: solid;
}
  
@media print, screen and (min-width: 40em) {
    .article-row {
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.article-row-img img {
    width: 100%;
}

.article-row-content-tech {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
}
  
@media print, screen and (min-width: 40em) {
    .article-row-img img {
        max-width: none;
        width: auto;
    }
}
  
.article-row-content {
padding: 1.5rem 0 0;
max-width: 100%;
color: #0a0a0a;
}

@media print, screen and (min-width: 40em) {
.article-row-content {
    padding: 0 0 0 1.5rem;
}
}

.article-row-content-header {
font-size: 1.5rem;
padding-top: 0;
}

.article-row-content-description {
font-size: 1.25rem;
color: whitesmoke;
text-align: center;
}

.article-row-content-author,
.article-row-content-time {
font-size: 2rem;
margin-bottom: 0;
color: black;
text-align: center;
}

.article-row-reversed .article-row-content {
-webkit-order: 2;
    -ms-flex-order: 2;
        order: 2;
padding: 0 1.5rem 0 0;
}

.article-row-reversed .article-row-img {
-webkit-order: 1;
    -ms-flex-order: 1;
        order: 1;
padding: 0 0 1.5rem 0;
}

@media print, screen and (min-width: 40em) {
.article-row-reversed .article-row-content {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
}
.article-row-reversed .article-row-img {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
}
}

.project-github {
    color: whitesmoke;
}

.project-github:hover {
    color: whitesmoke;
}

.project-github:visited {
    color: whitesmoke;
}

.image-hover-wrapper {
    position: relative;
    /* margin-top: 60px; */
    width: 480px;
}

.image-hover-wrapper a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;
}

.image-hover-wrapper a img {
    float: left;
    overflow: hidden;
    width: 100%;
}

.image-hover-wrapper a .image-hover-wrapper-reveal {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fefefe;
    display: inline;
    height: 100%;
    margin-left: -100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 80;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover {
    opacity: 1;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
    opacity: 1;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal p {
    bottom: 0;
    display: block;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .fa {
    font-size: 24px;
}

.image-hover-wrapper .image-hover-wrapper-banner {
    background-color: rgba(23, 121, 186, 0.8);
    color: #fefefe;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 25%;
    width: 75%;
    z-index: 10;
}

/* swing CSS */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30%
    {
        -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
    } 
    50%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    65%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    50%
    {
        -webkit-transform: translateX(7px);
        transform: translateX(5px);
    }
    65%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/* CONTACT */
form {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.contact {
    padding-bottom: 60px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 10px 20px 10px 20px;
    background-color:  rgb(128, 128, 133);
}

.btn:hover {
    cursor: grab;
    background-color: whitesmoke;
    color:  black;
}

.form-floating-label {
    position: relative;
   
}

.form-floating-label [type='text'],
.form-floating-label [type='password'],
.form-floating-label [type='date'],
.form-floating-label [type='datetime'],
.form-floating-label [type='datetime-local'],
.form-floating-label [type='month'],
.form-floating-label [type='week'],
.form-floating-label [type='email'],
.form-floating-label [type='number'],
.form-floating-label [type='search'],
.form-floating-label [type='tel'],
.form-floating-label [type='time'],
.form-floating-label [type='url'],
.form-floating-label [type='color'],
.form-floating-label textarea {
    margin-bottom: 0;
    color: #8a8a8a;
    font-size: 18px;
    font-weight: 300;
    padding: 30px 1rem 1rem 25px;
    background-color: #333333;
}

.form-floating-label label {
    color: #cacaca;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 25px;
    bottom: 0;
    transition: all 0.2s ease-in;
    font-weight: 300;
}

.form-floating-label textarea ~ label {
    top: 20px;
    font-size: 18px;
    font-weight: 300;
}

.form-floating-label input:focus ~ label,
.form-floating-label input:disabled[value] ~ label,
.form-floating-label.has-value input ~ label {
    top: 0;
    font-size: 14px;
    color: rgb(148, 157, 167);
    font-weight: 400;
}

.form-floating-label textarea:focus ~ label,
.form-floating-label.has-value textarea ~ label {
    top: 0;
    font-size: 14px;
    color:  rgb(148, 157, 167);
    font-weight: 400;
} 

h4 {
    text-align: center;
}

hr {
    width: 30%;
}

/* social list */

.stats-list {
    list-style-type: none;
    clear: left;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.stats-list > li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #cacaca;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: whitesmoke;
}

.stats-list > li:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

.stats-list > li .stats-list-label {
    display: block;
    margin-top: 2px;
    font-size: 0.9em;
    font-weight: normal;
    color: whitesmoke;
}

/* FOOTER */
.footer-text{
    text-align: center;
    margin-bottom: 2px;
    color: whitesmoke;
}

footer {
    height: 155px;
    background-color: #333333;
}

.footer-info {
    margin-top: 10px
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-top: 25px;
  margin-right: .5rem;
  margin-left: .5rem;
  margin-bottom: 0.25rem;
  background-color: whitesmoke;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.linkedin {
  background: #000000;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.mail {
  background: #000000;
}

.rounded-social-buttons .social-button.mail:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.mail:hover, .rounded-social-buttons .social-button.mail:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}