.header{
    background-color: rgb(91, 91, 94);
    height: 55px;
}

.menu {
    padding: 10px 0;
}

.header-links {
    color: whitesmoke;
}

.header-links:hover {
    color: whitesmoke;
    font-style: italic;
    background-color: rgb(128, 128, 133);
}

.header-links:visited {
    color: whitesmoke;
}