.header{
    background-color: rgb(91, 91, 94);
    height: 55px;
}

.menu {
    padding: 10px 0;
}

a {
    color: whitesmoke;
}

a:hover {
    color: whitesmoke;
    font-style: italic;
    background-color: rgb(128, 128, 133);
}

a:visited {
    color: whitesmoke;
}